@model List<BLL.DTO.RequestDTO>
<script>
    function SendTestimonial(id) {
        var starId = '#star' + id;
        var isChecked = false;
        $.each($('input[name=rating]:checked', starId), function () {
            isChecked = true;
        });
        if (isChecked) {            
            var res = {
                requestId: id,
                text: $('#testimonialTxt' + id).val(),
                star: $('input[name=rating]:checked', starId).val()
            };
            var str = JSON.stringify(res);
            $.ajax({
                type: 'POST',
                url: '/Student/SendTestimonialToTutor',
                contentType: 'application/json; charset=utf-8',
                data: str,
                success: function (data) {
                    $('#testimonialTxt' + id).val('');
                    $('#testimonialTxt' + id).parent().addClass('hidden');
                    $('#star' + id).parent().addClass('hidden');
                    $('#testimonialBtn' + id).addClass('hidden');
                    $('#testimonialErr' + id).addClass('hidden');
                    $('#testimonialRes' + id).removeClass('hidden');
                },
                error: function (xhr, str) {

                }
            });
        } else $('#testimonialErr' + id).removeClass('hidden');
    }
</script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<h2>Мои преподаватели</h2>
<div class="tabbable">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Мои преподаватели</a></li>
        <li><a href="#tab2" data-toggle="tab">Отправленные заявки</a></li>        
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            @if (Model.Any(r => r.status == "одобрен"))
            {
                foreach (var t in Model)
                {
                    if (t.status == "одобрен")
                    {
                        Html.RenderPartial("ShowMyTutorAgreed", t);
                    }
                }
            }
            else
            {
                <h1>В данный момент у Вас нет преподавателей</h1>
            }
        </div>
        <div class="tab-pane" id="tab2">
            @if (Model.Any(r => r.status == ""))
            {
                foreach (var t in Model)
                {
                    if (t.status == "")
                    {
                        Html.RenderPartial("ShowMyTutor", t);
                    }
                }
            }
            else
            {
                <h1>У вас нет заявок со статусом "В ожидании"</h1>
            }
        </div>        
    </div>
</div>
