.search_params .btn-group .label {
    width: 100%;  
    display: block;
    font-size: 100%;
    margin-top: 15px;
}

.search_params .btn-group {
    width: 100%;
    background-color: #fff3de;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5%;
}
    .search_params  #submit_btn {
        width: 100%;
        margin-top: 10px;
    }

.search_params .btn-group button {
    width: 100%;
    margin-top: 10px;    
}

.collapse_btn {
    width: 100%;
    margin-top: 5px;
}
.avatarImgDisplay {
    width: 100%;
    height: auto;    
}
.subject_icon {
    display: flex;
    align-items: center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.u-AhunterSuggestions {
    border: 1px solid #AAAAAA;
    background: white;
    overflow: auto;
    border-radius: 2px;
}

.u-AhunterSuggestion {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.u-AhunterEmptySuggestion {
    padding: 5px;
    font-style: italic;
    color: #b8661f;
}

.u-AhunterSelectedSuggestion {
    background: #E7E7E7;
}

.u-AhunterSuggestions strong {
    font-weight: bold;
    color: #1B7BB1;
}

#avatarImgDisplay {
    width:250px;
    height:auto;
}
