@model List<BLL.DTO.RequestForAdminDTO>
<script>
    function addSubject() {
        var res = $('#changePassForm').serialize();
        $.ajax({
            type: 'POST',
            url: '/User/ChangePassword',
            data: res,
            success: function (data) {
                if (data.error) {
                    $('#changePassErr').append(data.errorMsg);
                    $('#changePassErr').removeClass('hidden');
                    setTimeout(function () { $('#changePassErr').addClass('hidden') }, 5000);
                } else {
                    $('#changePassForm').remove();
                    $('#changePassSuc').removeClass('hidden');
                    setTimeout(function () { $('#changePassSuc').addClass('hidden') }, 5000);
                }
            },
            error: function (xhr, str) {
                $('#changePassErr').removeClass('hidden');
                setTimeout(function () { $('#changePassErr').addClass('hidden') }, 5000);
            }
        });

    }
    function ChangeProfile(tutorId, requestId, status) {
        if (status) {
            var education = $('#educationTbx' + requestId).val();
            var qualification = $('#qualificationTbx' + requestId).val();
            var res = {
                tutorId: tutorId,
                education: education,
                qualification: qualification,
                requestId: requestId
            };
            var str = JSON.stringify(res);
            $.ajax({
                type: 'POST',
                url: '/Admin/ConfirmTutor',
                contentType: 'application/json; charset=utf-8',
                data: str,
                success: function (data) {
                    $('#alert' + requestId).removeClass('hidden');
                    $('#profileRequestDiv' + requestId).addClass('hidden');
                },
                error: function (xhr, str) {

                }
            });
        } else {
            var res = {
                tutorId: tutorId,
                requestId: requestId
            };
            var str = JSON.stringify(res);
            $.ajax({
                type: 'POST',
                url: '/Admin/RejectTutor',
                contentType: 'application/json; charset=utf-8',
                data: str,
                success: function (data) {
                    $('#alert' + requestId).removeClass('hidden');
                    $('#profileRequestDiv' + requestId).addClass('hidden');
                },
                error: function (xhr, str) {

                }
            });
        }
        
            

    }
</script>

<h2>Мои заявки</h2>
<div class="tabbable">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Заявки на добавление предметов</a></li>
        <li><a href="#tab2" data-toggle="tab">Заявки на подтверждение профиля преподавателя</a></li>
        @*<li><a href="#tab3" data-toggle="tab">Жалобы</a></li>*@
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            @if (Model.Any(r => r.typeId == 1))
            {
                foreach (var s in Model)
                {
                    if (s.typeId == 1)
                    {
                        Html.RenderPartial("ShowSubjectRequests", s);
                    }
                }
            }
            else
            {
                <h1>Нет заявок на добавление предметов</h1>
            }
        </div>
        <div class="tab-pane" id="tab2">
            @if (Model.Any(r => r.typeId == 4))
            {
                foreach (var s in Model)
                {
                    if (s.typeId == 4)
                    {
                        Html.RenderPartial("ShowProfileRequests", s);
                    }
                }
            }
            else
            {
                <h1>Нет заявок на подтверждение профиля преподавателя</h1>
            }
        </div>
        @*<div class="tab-pane" id="tab3">
            @if (Model.Any(r => r.typeId == 2 || r.typeId == 3))
            {
                foreach (var s in Model)
                {
                    if (s.typeId == 2 || s.typeId == 3)
                    {
                        Html.RenderPartial("ShowComplaintRequests", s);
                    }
                }
            }
            else
            {
                <h1>Нет жалоб</h1>
            }
        </div>*@
    </div>
</div>


